<div class="profile row">
  <div class="col-md-4 avatar">
    <!-- LEFT: AVATAR HERE -->
  </div>
  <div class="col-md-8 basic-info">
    <!-- RIGHT: USER INFORMATION HERE -->
  </div>
</div>

<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <img src="https://avatars0.githubusercontent.com/u/12262608?s=400&u=11fd82dac623fb3051ed6a5db11b1f95af746b01&v=4">
      </div>
    </div>
    
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username">lgonz</h2>
        <a class="edit-profile">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>195</span> followers</li>
        <li><span>345</span> following</li>
      </ul>
      <h2 class="name">Leo Gonzalez</h2>
      <a class="website">lgonz053@gmail.com</a>
    </div>
  </div>
</div>

<div class="user-tabs">
  <a class="tab active" href="">
    <i class="fa fa-th"></i>
    POSTS
  </a>
  <a class="tab" href="">
    <i class="fa fa-tv"></i>
    IGTV
  </a>
  <a class="tab" href="">
    <i class="fa fa-bookmark"></i>
    SAVED
  </a>
  <a class="tab" href="">
    <i class="fa fa-tag"></i>
    TAGGED
  </a>
</div>

<div class="user-images">
  <div class="wrapper">
    <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/44983991_10160985379435254_740113321407021056_o.jpg?_nc_cat=108&_nc_oc=AQl8neM05UCVnkmWNSesSP7kVDn86M9xTPu9fcqQ-HrvNTpc_1qO3c2re3o_WPVzko0&_nc_ht=scontent-ort2-2.xx&oh=fb0e10c1ebace00ef56aabd79877967f&oe=5D3DB35C">
  </div>
  <div class="wrapper">
    <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/30128053_10160213035355254_6515326097947623424_o.jpg?_nc_cat=102&_nc_oc=AQlBs9bmi7nCQkMHv6Ir6WJCG449jgb3lz16uQxAVnmupOAO2kZMLcrC4aiIH4txJVQ&_nc_ht=scontent-ort2-2.xx&oh=b61fc63f3b951208741789cb8e7e776c&oe=5D08474F">
  </div>
  <div class="wrapper">
    <img src="https://scontent-ort2-2.xx.fbcdn.net/v/t1.0-9/47679741_10161140019460254_4531034435348332544_o.jpg?_nc_cat=110&_nc_oc=AQlcEFKiZKxLLMgLZJCuLFLPxn5KaOP-pEO4AuwYswcimvGo-dh2Z-CrmHTr5Z_GC9E&_nc_ht=scontent-ort2-2.xx&oh=1d0b80a181e3cbc4f2ff45d80c82a649&oe=5D4688C0">
  </div>
</div>